const region = "YOUR-REGION-1";
const poolId = "YOURPOOLID";
const appClientId = "YOURAPPCLIENTID";
const cognitoIdentityPoolId = "COGNITO-XXXX-XXXX-XXXX-IDENTITYPOOLID";
const graphqlId = "YOURGRAPHQLID";
const amplifyconfig = '''{
    "UserAgent": "aws-amplify-cli/2.0",
    "Version": "1.0",
    "auth": {
        "plugins": {
            "awsCognitoAuthPlugin": {
                "Auth": {
                    "Default": {
                        "authenticationFlowType": "USER_SRP_AUTH",
                        "socialProviders": [],
                        "usernameAttributes": ["EMAIL"],
                        "signupAttributes": ["EMAIL"],
                        "passwordProtectionSettings": {
                            "requiredLength": 6,
                            "requireUppercase": false,
                            "requireLowercase": false,
                            "requireNumbers": false,
                            "requireSymbols": false
                        },
                        "mfaConfiguration": "OPTIONAL",
                        "mfaTypes": ["TOTP"],
                        "verificationMechanisms": ["EMAIL"]
                    }
                },
                "IdentityManager": {
                    "Default": {}
                },
                "CredentialsProvider": {
                    "CognitoIdentity": {
                        "Default": {
                            "PoolId": "${region}:${cognitoIdentityPoolId}",
                            "Region": "${region}"
                        }
                    }
                },
                "CognitoUserPool": {
                    "Default": {
                        "PoolId": "${region}_${poolId}",
                        "AppClientId": "${appClientId}",
                        "Region": "${region}"
                    }
                }
            }
        }
    },
    "api": {
        "plugins": {
            "awsAPIPlugin": {
                "YOUR_API_NAME": {
                    "endpointType": "GraphQL",
                    "endpoint": "https://${graphqlId}.appsync-api.${region}.amazonaws.com/graphql",
                    "region": "${region}",
                    "authorizationType": "AMAZON_COGNITO_USER_POOLS"
                }
            }
        }
    }
}''';
