const region = "YOUR-REGION-1";
const poolId = "YOURPOOLID"; # Cognito -> User Pool -> us-east-1_YOURPOOLID (eg)
const appClientId = "YOURAPPCLIENTID"; # Cognito -> User Pool -> App Integration -> App Client List
const cognitoIdentityPoolId = "COGNITO-XXXX-XXXX-XXXX-IDENTITYPOOLID"; # Cognito -> Identity Pool, us-east-1:THISBITHERE (eg)
const graphqlId = "YOURGRAPHQLID"; # The portion from the URL
const graphqlUrl = "https://${graphqlId}.appsync-api.${region}.amazonaws.com/graphql";
const amplifyconfig = '''{
    "UserAgent": "aws-amplify-cli/2.0",
    "Version": "1.0",
    "auth": {
        "plugins": {
            "awsCognitoAuthPlugin": {
                "Auth": {
                    "Default": {
                        "authenticationFlowType": "USER_SRP_AUTH",
                        "socialProviders": [],
                        "usernameAttributes": ["EMAIL"],
                        "signupAttributes": ["EMAIL"],
                        "passwordProtectionSettings": {
                            "requiredLength": 6,
                            "requireUppercase": false,
                            "requireLowercase": false,
                            "requireNumbers": false,
                            "requireSymbols": false
                        },
                        "mfaConfiguration": "OPTIONAL",
                        "mfaTypes": ["TOTP"],
                        "verificationMechanisms": ["EMAIL"]
                    }
                },
                "IdentityManager": {
                    "Default": {}
                },
                "CredentialsProvider": {
                    "CognitoIdentity": {
                        "Default": {
                            "PoolId": "${region}:${cognitoIdentityPoolId}",
                            "Region": "${region}"
                        }
                    }
                },
                "CognitoUserPool": {
                    "Default": {
                        "PoolId": "${region}_${poolId}",
                        "AppClientId": "${appClientId}",
                        "Region": "${region}"
                    }
                }
            }
        }
    },
    "api": {
        "plugins": {
            "awsAPIPlugin": {
                "YOUR_API_NAME": {
                    "endpointType": "GraphQL",
                    "endpoint": "${graphqlUrl}",
                    "region": "${region}",
                    "authorizationType": "AMAZON_COGNITO_USER_POOLS"
                }
            }
        }
    }
}''';
